<h1>OCR WORKING: {{title}}</h1>

<img [src]="image" alt="" id="imago" #tagimg>

<div class="btn">
  <input id="fileInput" accept="image/*" type='file' (change)="handleFileInput($event)">
  <button [disabled]="!workerReady" (click)="recognizeImage()">
    Rozpoznaj text: <span *ngIf="progresStart">{{progress}} %</span>
  </button>
</div>

<!-- <p>
  {{ocrResult}}
</p> -->

<div class="result">
    <div *ngFor="let data of maindata?.data.lines">
      {{
        data.text
       }}
    </div>
</div>


<router-outlet></router-outlet>
